<div class="bg-light p-2 text-dark bg-opacity-75">
<h1>Nueva Publicación</h1>

<%= render "form", cfcpost: @cfcpost %>

<br>

<div>
  <%= link_to "Volver a Publicaciones", cfcposts_path, class: "btn btn-dark" %>
</div>
</div>
